$red: #d72600;
$green: #379711;
$blue: #0956bf;
$yellow: #ecd407;

$ui-green: #8aff73;
$ui-red: #ff5858;

:root {
  --red: #{$red};
  --green: #{$green};
  --blue: #{$blue};
  --yellow: #{$yellow};
  --black: black;
}
